<div class="nav-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar-index">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">WEG</a>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../home#section1">System</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../home#section2">Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../home#section3">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/usuario/cadastro']">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">logoff</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class="wrapper">
        <div class="box sidebar">
            <div class="user-info-margin">
                <label>Nome: {{loggedUser.nome}}</label><br>
                <label>Cadastro: {{loggedUser.cadastro}}</label><br>
                <label>Perfil: {{loggedUser.perfil}}</label>
            </div>
            <hr>
            <h3><i>Quantidade de tags encontradas: {{shownUsers}}</i></h3>
            <form #formFilter="ngForm">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <label for="idMin">ID min</label>
                        <input placeholder="Filter id min" type="number" id="idMin" name="idMin" class="form-control"
                                [(ngModel)]="idMin" #id="ngModel">
                    </div>
                    <div class="col-md-6">
                        <label for="idMax">ID max</label>
                        <input placeholder="Filter id max" type="number" id="idMax" name="idMax" class="form-control"
                                [(ngModel)]="idMax" #id="ngModel">
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="position">Position</label>
                    <input placeholder="Filter position" type="number" id="positionFilter" name="position" class="form-control"
                                  [(ngModel)]="positionFilter" #position="ngModel">
                  </div>
                <div class="form-group mb-4">
                  <label for="nome">Tag Name</label>
                  <select [(ngModel)]='nomeFilter' class='form-control' name="nomeFilter" id="nomeFilter">
                    <option value=""></option>  
                    <option *ngFor="let tagName of listOfTagName" value="{{tagName}}">{{tagName}}</option>
                  </select>
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="filter()">Filter</button>
            </form>
        </div>
        <div class="box content">
            <h1 class="centered-text">Projeto {{project.line}} - Routine {{routine.line}} - Tags</h1>
            <div *ngFor="let tag of tags; let i = index" >
                <div class="document" *ngIf="tag.enabled==true && filterArray[i];else disabled">
                    <!--
                    <div>Resp: {{filterArray[i]}}: {{i}} =====> {{filterArray}}</div>
                    -->
                    <div class="hidden-project" >
                        <div class="project-id">Id: {{tag.id}}</div>
                        <div class="project-nome">{{tag.simpleDescription}}</div>
                        <div class="project-icon">
                            <button type="button" class="btn btn-primary btn-block show-btn" (click)="openModal(tag)"><i class="bi bi-chevron-down"></i></button>
                        </div>
                    </div>
                </div>
                <ng-template #disabled>
                    <div class="document" *ngIf="filterArray[i]" [attr.disabled]="true">
                        <div class="hidden-project">
                            <div class="project-id">Id: {{tag.id}}</div>
                            <div class="project-nome">{{tag.simpleDescription}}</div>
                            <div class="project-icon">
                                <button type="button" class="btn btn-danger btn-block disabled-btn" (click)="remove(tag)">Remove</button>
                                <button type="button" class="btn btn-primary btn-block disabled-btn" (click)="enable(tag)">Enable</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="document">
                <div class="hidden-project">
                    <div class="project-id">Id: {{tags.length}}</div>
                    <div class="project-nome">
                        <div id="newTagDisplay">Nova Tag: </div>
                        <select [(ngModel)]='selectedTag' class='form-control' name="selectedTag" id="selectedTag">
                            <option *ngFor="let tagName of listOfTagName" value="{{tagName}}">{{tagName}}</option>
                        </select>
                    </div>
                    <div class="project-icon">
                        <button type="button" class="btn btn-success btn-block add-btn" (click)="openAddModal()">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="foot"></div>
    