<div *ngIf="tag==null;else updateTag">
    <div class="modal-header" >
        <label>Cadastro de tag</label>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body text-center">
        <form #formNewTag="ngForm">
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="tagName">Tag name</label>
                    <input type="text" id="tagName" name="tagName" class="form-control"
                    [(ngModel)]="newTag.tagName" #tagName="ngModel" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="position">Position</label>
                    <input type="number" id="position" name="position" class="form-control"
                    [(ngModel)]="newTag.position" #position="ngModel">
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="simpleDescription">Simple description</label>
                <input type="text" id="simpleDescription" name="simpleDescription" class="form-control"
                  [(ngModel)]="newTag.simpleDescription" #simpleDescription="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" id="description" name="description" class="form-control"
                  [(ngModel)]="newTag.description" #description="ngModel" cols="30" rows="3"></textarea>
            </div>
            
            <hr>

            <div class="form-outline mb-4" style="text-align: left;">
                <input type="checkbox" id="enableInline" name="enableInline" class="form-check-input"
                [(ngModel)]="newTag.enableInline" #enableInline="ngModel">
                <label class="form-check-label" for="flexCheckDefault" style="margin-left: 4px;">Enable Inline</label>
            </div>

            <div id="info" class="collapse shown-user" [attr.id]="'hidden-fields'">
                <hr>
                <div class="form-outline mb-4">
                    <label class="form-label" for="timeout">Timeout</label>
                    <input type="number" id="timeout" name="timeout" class="form-control"
                      [(ngModel)]="newTag.timeout" #timeout="ngModel">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#hidden-fields'">Advanced Fields</button>
        <button type="button" class="btn btn-outline-dark" (click)="add()">Salvar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</div>

<ng-template #updateTag>
    <div class="modal-header" >
        <label>Atualização de tag</label>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body text-center">
        <form #formTag="ngForm">
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="tagName">Tag name</label>
                    <input type="text" id="tagName" name="tagName" class="form-control"
                    [(ngModel)]="tagToUpdate.tagName" #tagName="ngModel" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="position">Position</label>
                    <input type="number" id="position" name="position" class="form-control"
                    [(ngModel)]="tagToUpdate.position" #position="ngModel">
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="simpleDescription">Simple description</label>
                <input type="text" id="simpleDescription" name="simpleDescription" class="form-control"
                  [(ngModel)]="tagToUpdate.simpleDescription" #simpleDescription="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" id="description" name="description" class="form-control"
                  [(ngModel)]="tagToUpdate.description" #description="ngModel" cols="30" rows="3"></textarea>
            </div>
            <hr>
            
            <div class="form-outline mb-4" style="text-align: left;">
                <input type="checkbox" id="enableInline" name="enableInline" class="form-check-input"
                [(ngModel)]="tagToUpdate.enableInline" #enableInline="ngModel">
                <label class="form-check-label" for="flexCheckDefault" style="margin-left: 4px;">Enable Inline</label>
            </div>

            <div id="info" class="collapse shown-user" [attr.id]="'hidden-fields'">
                <hr>
                <div class="form-outline mb-4">
                    <label class="form-label" for="timeout">Timeout</label>
                    <input type="number" id="timeout" name="timeout" class="form-control"
                      [(ngModel)]="tagToUpdate.timeout" #timeout="ngModel">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/system', mappingToUpdate.line]" (click)="activeModal.close()">Open</button>
        -->
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#hidden-fields'">Advanced Fields</button>
        <button type="button" class="btn btn-outline-dark" (click)="update()">Update</button>
        <button type="button" class="btn btn-outline-danger" (click)="disable()">Disable</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</ng-template>