<div *ngIf="tag==null;else updateTag">
    <div class="modal-header" >
        <label>Cadastro de tag</label>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body text-center">
        <form #formNewTag="ngForm">
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="tagName">Tag name</label>
                    <input type="text" id="tagName" name="tagName" class="form-control"
                    [(ngModel)]="newTag.tagName" #tagName="ngModel" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="position">Position</label>
                    <input type="number" id="position" name="position" class="form-control"
                    [(ngModel)]="newTag.position" #position="ngModel">
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="simpleDescription">Simple description</label>
                <input type="text" id="simpleDescription" name="simpleDescription" class="form-control"
                  [(ngModel)]="newTag.simpleDescription" #simpleDescription="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" id="description" name="description" class="form-control"
                  [(ngModel)]="newTag.description" #description="ngModel" cols="30" rows="3"></textarea>
            </div>
            
            <hr>

            <div class="form-outline mb-4">
                <label class="form-label" for="communicationName">Communication name</label>
                <input type="text" id="communicationName" name="communicationName" class="form-control"
                  [(ngModel)]="newTag.communicationName" #communicationName="ngModel">
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="form-label" for="portName">Port</label>
                    <input type="text" id="portName" name="portName" class="form-control"
                    [(ngModel)]="newTag.portName" #portName="ngModel">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="parity">Parity</label>
                    <input type="text" id="parity" name="parity" class="form-control"
                    [(ngModel)]="newTag.parity" #parity="ngModel">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="form-label" for="baudRate">BaudRate</label>
                    <input type="number" id="baudRate" name="baudRate" class="form-control"
                    [(ngModel)]="newTag.baudRate" #baudRate="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="dataBits">DataBits</label>
                    <input type="number" id="dataBits" name="dataBits" class="form-control"
                    [(ngModel)]="newTag.dataBits" #dataBits="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="stopBits">StopBits</label>
                    <input type="number" id="stopBits" name="stopBits" class="form-control"
                    [(ngModel)]="newTag.stopBits" #stopBits="ngModel">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="form-label" for="timeoutComm">TimeoutComm</label>
                    <input type="number" id="timeoutComm" name="timeoutComm" class="form-control"
                    [(ngModel)]="newTag.timeoutComm" #timeoutComm="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="address">Address</label>
                    <input type="number" id="address" name="address" class="form-control"
                    [(ngModel)]="newTag.address" #address="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="trials">Trials</label>
                    <input type="number" id="trials" name="trials" class="form-control"
                    [(ngModel)]="newTag.trials" #trials="ngModel">
                </div>
            </div>

            <div id="info" class="collapse shown-user" [attr.id]="'hidden-fields'">
                <hr>

                <div class="form-outline mb-4" style="text-align: left;">
                    <input class="form-check-input" type="checkbox" value="" id="mainCommunication" name="mainCommunication" [(ngModel)]="newTag.mainCommunication" #mainCommunication="ngModel" (change)="mainCommunicationChecker()">
                    <label class="form-check-label" for="mainCommunication">Main communication</label>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <label class="form-label" for="registerToFlag">Flag register</label>
                        <input type="number" id="registerToFlag" name="registerToFlag" class="form-control"
                        [(ngModel)]="newTag.registerToFlag" #registerToFlag="ngModel">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="registerToSetTimeout">Timeout register</label>
                        <input type="number" id="registerToSetTimeout" name="registerToSetTimeout" class="form-control"
                        [(ngModel)]="newTag.registerToSetTimeout" #registerToSetTimeout="ngModel">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="waitBetweenFeedback">wait</label>
                        <input type="number" id="waitBetweenFeedback" name="waitBetweenFeedback" class="form-control"
                        [(ngModel)]="newTag.waitBetweenFeedback" #waitBetweenFeedback="ngModel">
                    </div>
                </div>


                <div class="form-outline mb-4">
                    <label class="form-label" for="timeout">Timeout</label>
                    <input type="number" id="timeout" name="timeout" class="form-control"
                      [(ngModel)]="newTag.timeout" #timeout="ngModel">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#hidden-fields'">Advanced Fields</button>
        <button type="button" class="btn btn-outline-dark" (click)="add()">Salvar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</div>

<ng-template #updateTag>
    <div class="modal-header" >
        <label>Atualização de tag</label>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body text-center">
        <form #formTag="ngForm">
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="tagName">Tag name</label>
                    <input type="text" id="tagName" name="tagName" class="form-control"
                    [(ngModel)]="tagToUpdate.tagName" #tagName="ngModel" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="position">Position</label>
                    <input type="number" id="position" name="position" class="form-control"
                    [(ngModel)]="tagToUpdate.position" #position="ngModel">
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="simpleDescription">Simple description</label>
                <input type="text" id="simpleDescription" name="simpleDescription" class="form-control"
                  [(ngModel)]="tagToUpdate.simpleDescription" #simpleDescription="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" id="description" name="description" class="form-control"
                  [(ngModel)]="tagToUpdate.description" #description="ngModel" cols="30" rows="3"></textarea>
            </div>
            <hr>

            <div class="form-outline mb-4">
                <label class="form-label" for="communicationName">Communication name</label>
                <input type="text" id="communicationName" name="communicationName" class="form-control"
                  [(ngModel)]="tagToUpdate.communicationName" #communicationName="ngModel">
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="form-label" for="portName">Port</label>
                    <input type="text" id="portName" name="portName" class="form-control"
                    [(ngModel)]="tagToUpdate.portName" #portName="ngModel">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="parity">Parity</label>
                    <input type="text" id="parity" name="parity" class="form-control"
                    [(ngModel)]="tagToUpdate.parity" #parity="ngModel">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="form-label" for="baudRate">BaudRate</label>
                    <input type="number" id="baudRate" name="baudRate" class="form-control"
                    [(ngModel)]="tagToUpdate.baudRate" #baudRate="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="dataBits">DataBits</label>
                    <input type="number" id="dataBits" name="dataBits" class="form-control"
                    [(ngModel)]="tagToUpdate.dataBits" #dataBits="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="stopBits">StopBits</label>
                    <input type="number" id="stopBits" name="stopBits" class="form-control"
                    [(ngModel)]="tagToUpdate.stopBits" #stopBits="ngModel">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="form-label" for="timeoutComm">TimeoutComm</label>
                    <input type="number" id="timeoutComm" name="timeoutComm" class="form-control"
                    [(ngModel)]="tagToUpdate.timeoutComm" #timeoutComm="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="address">Address</label>
                    <input type="number" id="address" name="address" class="form-control"
                    [(ngModel)]="tagToUpdate.address" #address="ngModel">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="trials">Trials</label>
                    <input type="number" id="trials" name="trials" class="form-control"
                    [(ngModel)]="tagToUpdate.trials" #trials="ngModel">
                </div>
            </div>

            <div id="info" class="collapse shown-user" [attr.id]="'hidden-fields'">
                <hr>

                <div class="form-outline mb-4" style="text-align: left;">
                    <input class="form-check-input" type="checkbox" value="" id="mainCommunication" name="mainCommunication" [(ngModel)]="tagToUpdate.mainCommunication" #mainCommunication="ngModel" (change)="mainCommunicationUpdateChecker()">
                    <label class="form-check-label" for="mainCommunication">Main communication</label>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <label class="form-label" for="registerToFlag">Flag register</label>
                        <input type="number" id="registerToFlag" name="registerToFlag" class="form-control"
                        [(ngModel)]="tagToUpdate.registerToFlag" #registerToFlag="ngModel">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="registerToSetTimeout">Timeout register</label>
                        <input type="number" id="registerToSetTimeout" name="registerToSetTimeout" class="form-control"
                        [(ngModel)]="tagToUpdate.registerToSetTimeout" #registerToSetTimeout="ngModel">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="waitBetweenFeedback">wait</label>
                        <input type="number" id="waitBetweenFeedback" name="waitBetweenFeedback" class="form-control"
                        [(ngModel)]="tagToUpdate.waitBetweenFeedback" #waitBetweenFeedback="ngModel">
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="timeout">Timeout</label>
                    <input type="number" id="timeout" name="timeout" class="form-control"
                      [(ngModel)]="tagToUpdate.timeout" #timeout="ngModel">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/system', mappingToUpdate.line]" (click)="activeModal.close()">Open</button>
        -->
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#hidden-fields'">Advanced Fields</button>
        <button type="button" class="btn btn-outline-dark" (click)="update()">Update</button>
        <button type="button" class="btn btn-outline-danger" (click)="disable()">Disable</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</ng-template>