<div *ngIf="tag==null;else updateTag">
    <div class="modal-header" >
        <label>Cadastro de tag</label>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body text-center">
        <form #formNewTag="ngForm">
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control"
                    [(ngModel)]="newTag.nome" #nome="ngModel" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="position">Position</label>
                    <input type="number" id="position" name="position" class="form-control"
                    [(ngModel)]="newTag.position" #position="ngModel">
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="simpleDescription">Simple description</label>
                <input type="text" id="simpleDescription" name="simpleDescription" class="form-control"
                  [(ngModel)]="newTag.simpleDescription" #simpleDescription="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" id="description" name="description" class="form-control"
                  [(ngModel)]="newTag.description" #description="ngModel" cols="30" rows="3"></textarea>
            </div>
            
            <hr>
            
            <div class="form-outline mb-4">
                <label class="form-label" for="value">String value</label>
                <input type="text" id="value" name="value" class="form-control"
                  [(ngModel)]="newTag.value" #value="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="communicationName">Communication name</label>
                <input type="text" id="communicationName" name="communicationName" class="form-control"
                  [(ngModel)]="newTag.communicationName" #communicationName="ngModel">
            </div>
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="registerName">Register name</label>
                    <select [(ngModel)]='newTag.registerName' class='form-control' name="registerName" id="registerName" (change)="setNewRegister()">
                        <option value=""></option>  
                        <option *ngFor="let mapping of project.mappings" value="{{mapping.nome}}">{{mapping.nome}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="register">Register</label>
                    <input type="number" id="register" name="register" class="form-control"
                    [(ngModel)]="newTag.register" #register="ngModel">
                </div>
            </div>
            
            <div id="info" class="collapse shown-user" [attr.id]="'hidden-fields'">
                <hr>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label class="form-label" for="waitBefore">Wait before</label>
                        <input type="text" id="waitBefore" name="waitBefore" class="form-control"
                        [(ngModel)]="newTag.waitBefore" #waitBefore="ngModel">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="waitAfter">Wait after</label>
                        <input type="number" id="waitAfter" name="waitAfter" class="form-control"
                        [(ngModel)]="newTag.waitAfter" #waitAfter="ngModel">
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="timeout">Timeout</label>
                    <input type="number" id="timeout" name="timeout" class="form-control"
                      [(ngModel)]="newTag.timeout" #timeout="ngModel">
                </div>
                
                <div *ngIf="newTag.ensTagConfiguration!=null">
                    <div class="form-outline mb-4" style="text-align: left;">
                        <input class="form-check-input" type="checkbox" value="" id="enabled" name="enabled" [(ngModel)]="newTag.ensTagConfiguration.enabled" #enabled="ngModel" (change)="ensChecker()">
                        <label class="form-check-label" for="flexCheckDefault">Enable ens</label>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-10">
                            <label class="form-label" for="ensType">Ens type</label>
                            <input disabled type="text" id="ensType" name="ensType" class="form-control"
                            [(ngModel)]="newTag.ensTagConfiguration.ensType" #ensType="ngModel">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label blankspace" for="ensTypeAux" >blankspace</label>
                            <select disabled class='form-control' name="ensTypeAux" id="ensTypeAux" (change)="addEnsType()">
                                <option value=""></option>  
                                <option *ngFor="let ensVariableName of listOfEnsVariableName" value="{{ensVariableName}}">{{ensVariableName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-10">
                            <label class="form-label" for="ensVariableName">Ens variable name</label>
                            <input disabled type="text" id="ensVariableName" name="ensVariableName" class="form-control"
                            [(ngModel)]="newTag.ensTagConfiguration.ensVariableName" #ensVariableName="ngModel">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label blankspace" for="ensVariableNameAux">blankspace</label>
                            <select disabled class='form-control' name="ensVariableNameAux" id="ensVariableNameAux" (change)="addEnsVariableName()">
                                <option value=""></option>  
                                <option *ngFor="let ensType of listOfEnsType" value="{{ensType}}">{{ensType}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-10">
                            <label class="form-label" for="variableToReadFrom">Variable to read from</label>
                            <input disabled type="text" id="variableToReadFrom" name="variableToReadFrom" class="form-control"
                            [(ngModel)]="newTag.ensTagConfiguration.variableToReadFrom" #variableToReadFrom="ngModel">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label blankspace" for="variableToReadFromAux">blankspace</label>
                            <select disabled class='form-control' name="variableToReadFromAux" id="variableToReadFromAux" (change)="addVariableToReadFrom()">
                                <option value=""></option>  
                                <option>Opicao 1</option>
                                <option>Opicao 2</option>
                                <option>Opicao 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#hidden-fields'">Advanced Fields</button>
        <button type="button" class="btn btn-outline-dark" (click)="add()">Salvar</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</div>

<ng-template #updateTag>
    <div class="modal-header" >
        <label>Atualização de tag</label>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div class="modal-body text-center">
        <form #formTag="ngForm">
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control"
                    [(ngModel)]="tagToUpdate.nome" #nome="ngModel" readonly>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="position">Position</label>
                    <input type="number" id="position" name="position" class="form-control"
                    [(ngModel)]="tagToUpdate.position" #position="ngModel">
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="simpleDescription">Simple description</label>
                <input type="text" id="simpleDescription" name="simpleDescription" class="form-control"
                  [(ngModel)]="tagToUpdate.simpleDescription" #simpleDescription="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" id="description" name="description" class="form-control"
                  [(ngModel)]="tagToUpdate.description" #description="ngModel" cols="30" rows="3"></textarea>
            </div>
            <hr>
            
            <div class="form-outline mb-4">
                <label class="form-label" for="value">String value</label>
                <input type="text" id="value" name="value" class="form-control"
                  [(ngModel)]="tagToUpdate.value" #value="ngModel">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="communicationName">Communication name</label>
                <input type="text" id="communicationName" name="communicationName" class="form-control"
                  [(ngModel)]="tagToUpdate.communicationName" #communicationName="ngModel">
            </div>
            <div class="row mb-4">
                <div class="col-md-9">
                    <label class="form-label" for="registerName">Register name</label>
                    <select [(ngModel)]='tagToUpdate.registerName' class='form-control' name="registerName" id="registerName" (change)="setRegister()">
                        <option value=""></option>  
                        <option *ngFor="let mapping of project.mappings" value="{{mapping.nome}}">{{mapping.nome}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="register">Register</label>
                    <input type="number" id="register" name="register" class="form-control"
                    [(ngModel)]="tagToUpdate.register" #register="ngModel">
                </div>
            </div>

            <div id="info" class="collapse shown-user" [attr.id]="'hidden-fields'">
                <hr>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label class="form-label" for="waitBefore">Wait before</label>
                        <input type="text" id="waitBefore" name="waitBefore" class="form-control"
                        [(ngModel)]="tagToUpdate.waitBefore" #waitBefore="ngModel">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="waitAfter">Wait after</label>
                        <input type="number" id="waitAfter" name="waitAfter" class="form-control"
                        [(ngModel)]="tagToUpdate.waitAfter" #waitAfter="ngModel">
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="timeout">Timeout</label>
                    <input type="number" id="timeout" name="timeout" class="form-control"
                      [(ngModel)]="tagToUpdate.timeout" #timeout="ngModel">
                </div>
                <div *ngIf="tagToUpdate.ensTagConfiguration!=null">
                    <div class="form-outline mb-4" style="text-align: left;">
                        <input class="form-check-input" type="checkbox" value="" id="enabled" name="enabled" [(ngModel)]="tagToUpdate.ensTagConfiguration.enabled" #enabled="ngModel" (change)="ensUpdateChecker()">
                        <label class="form-check-label" for="flexCheckDefault">Enable ens</label>
                    </div>
                    <div *ngIf="tagToUpdate.ensTagConfiguration.enabled;else disabled">
                        <div class="row mb-4">
                            <div class="col-md-10">
                                <label class="form-label" for="ensType">Ens type</label>
                                <input disabled type="text" id="ensType" name="ensType" class="form-control"
                                [(ngModel)]="tagToUpdate.ensTagConfiguration.ensType" #ensType="ngModel">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label blankspace" for="ensTypeAux" >blankspace</label>
                                <select class='form-control' name="ensTypeAux" id="ensTypeAux" (change)="addUpdateEnsType()">
                                    <option value=""></option>  
                                    <option *ngFor="let ensVariableName of listOfEnsVariableName" value="{{ensVariableName}}">{{ensVariableName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-10">
                                <label class="form-label" for="ensVariableName">Ens variable name</label>
                                <input disabled type="text" id="ensVariableName" name="ensVariableName" class="form-control"
                                [(ngModel)]="tagToUpdate.ensTagConfiguration.ensVariableName" #ensVariableName="ngModel">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label blankspace" for="ensVariableNameAux">blankspace</label>
                                <select class='form-control' name="ensVariableNameAux" id="ensVariableNameAux" (change)="addUpdateEnsVariableName()">
                                    <option value=""></option>  
                                    <option *ngFor="let ensType of listOfEnsType" value="{{ensType}}">{{ensType}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-10">
                                <label class="form-label" for="variableToReadFrom">Variable to read from</label>
                                <input disabled type="text" id="variableToReadFrom" name="variableToReadFrom" class="form-control"
                                [(ngModel)]="tagToUpdate.ensTagConfiguration.variableToReadFrom" #variableToReadFrom="ngModel">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label blankspace" for="variableToReadFromAux">blankspace</label>
                                <select class='form-control' name="variableToReadFromAux" id="variableToReadFromAux" (change)="addUpdateVariableToReadFrom()">
                                    <option value=""></option>  
                                    <option>Opicao 1</option>
                                    <option>Opicao 2</option>
                                    <option>Opicao 3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ng-template #disabled>
                        <div class="row mb-4">
                            <div class="col-md-10">
                                <label class="form-label" for="ensType">Ens type</label>
                                <input disabled type="text" id="ensType" name="ensType" class="form-control"
                                [(ngModel)]="tagToUpdate.ensTagConfiguration.ensType" #ensType="ngModel">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label blankspace" for="ensTypeAux" >blankspace</label>
                                <select disabled class='form-control' name="ensTypeAux" id="ensTypeAux" (change)="addUpdateEnsType()">
                                    <option value=""></option>  
                                    <option *ngFor="let ensVariableName of listOfEnsVariableName" value="{{ensVariableName}}">{{ensVariableName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-10">
                                <label class="form-label" for="ensVariableName">Ens variable name</label>
                                <input disabled type="text" id="ensVariableName" name="ensVariableName" class="form-control"
                                [(ngModel)]="tagToUpdate.ensTagConfiguration.ensVariableName" #ensVariableName="ngModel">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label blankspace" for="ensVariableNameAux">blankspace</label>
                                <select disabled class='form-control' name="ensVariableNameAux" id="ensVariableNameAux" (change)="addUpdateEnsVariableName()">
                                    <option value=""></option>  
                                    <option *ngFor="let ensType of listOfEnsType" value="{{ensType}}">{{ensType}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-10">
                                <label class="form-label" for="variableToReadFrom">Variable to read from</label>
                                <input disabled type="text" id="variableToReadFrom" name="variableToReadFrom" class="form-control"
                                [(ngModel)]="tagToUpdate.ensTagConfiguration.variableToReadFrom" #variableToReadFrom="ngModel">
                            </div>
                            <div class="col-md-2">
                                <label class="form-label blankspace" for="variableToReadFromAux">blankspace</label>
                                <select disabled class='form-control' name="variableToReadFromAux" id="variableToReadFromAux" (change)="addUpdateVariableToReadFrom()">
                                    <option value=""></option>  
                                    <option>Opicao 1</option>
                                    <option>Opicao 2</option>
                                    <option>Opicao 3</option>
                                </select>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-outline-dark" [routerLink]="['/system', mappingToUpdate.line]" (click)="activeModal.close()">Open</button>
        -->
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse" [attr.data-bs-target]="'#hidden-fields'">Advanced Fields</button>
        <button type="button" class="btn btn-outline-dark" (click)="update()">Update</button>
        <button type="button" class="btn btn-outline-danger" (click)="disable()">Disable</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Fechar</button>
    </div>
</ng-template>